@import url(https://fonts.google.com/specimen/Space+Mono);

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono", sans-serif, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body h1 {
    text-align: center;
    margin: 2.5%;
}
#calc_wrap {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
    width: 60vw;
    height: 55vh;
    margin: 2.5%;
    padding: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#calc_left {
    background-color: white;
    width: 47.5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#calc_left h4{
    color: hsl(186, 14%, 43%);
}
#calc_right {
    background-color: hsl(183, 100%, 15%);
    border-radius: 1em;
    padding: 10px;
    color: hsl(185, 41%, 84%);
    width: 47.5%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#small_print {
    font-size: .5em;
    font-weight: 400;
}
#reset_button {
    width: 90%;
    height: 37.5px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: .8em;
    border: none;
}
#reset_button:hover {
    background-color: hsl(185, 41%, 84%);
}
#reset_div {
    text-align: center;
}
#buttons_form {
    display: flex;
    flex-direction: column;
}
.button {
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    width: 30%;
    padding: 1.5%;
    font-size: 24px;
    margin: 1%;
    border-radius: .25em;
    border: none;
}
.button:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}
.button:active {
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
#custom {
    width: 30%;
    margin: 1%;
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    font-size: 24px;
}
#custom:hover {
    color: hsl(183, 100%, 15%);
}
#custom:active {
    color: hsl(183, 100%, 15%);
}
.forms {
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    width: 90%;
    height: 30px;
    align-self: center;
    border-radius: .25em;
    padding: 1.5%;
    margin: 1.5% 0%;
    display: flex;
    justify-content: space-between;
}
.forms img {
    align-self: center;
}
#right_top {
    height: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#calc_right_output {
    font-size: 48px;
    color:hsl(172, 67%, 45%);
    font-weight: 500;
}
input {
    color: hsl(183, 100%, 15%);
}

/* #buttons_form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

@media only screen and (max-width: 375px) {
    #calc_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    body {
        padding: 0px;
    }
    #calc_left {
        width: 90%;
        height: auto;
        padding: 1%;
        margin: 10px;
    }
    #calc_right {
        width: 90%;
        height: auto;
        padding: 1%;
        margin: 10px;
    }
}
/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
